* {
  margin: 0;
  padding: 0;
}

.pd-page {
  width: 100vw;
  height: 100vh;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.pd-page.pd-page-centered {
  display: flex;
  align-items: center;
}

/* Global form styles start */
input,
textarea {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
  font-size: 14px;
  outline: none;
}

input {
  height: 38px;
  line-height: 30px;
  padding: 4px 0.375rem;
}

textarea {
  height: 100%;
  padding: 0.375rem;
  resize: none;
}

button {
  box-sizing: border-box;
  padding: 6px 12px;
  background-color: #fff;
  line-height: 16px;
  color: #212529;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
/* Global form styles end */

/* Loading styles start */
/* Loading spin from https://loading.io/css/ */
.pd-loading-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pd-loading-cover .pd-loading-spin {
  display: inline-block;
  transform: translateZ(1px);
}

.pd-loading-cover .pd-loading-spin .pd-loading-spin-inner {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: pd-loading-spin 5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes pd-loading-spin {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
/* Loading styles end */

/* Login frame styles start */
.pd-login-frame {
  width: 375px;
  margin-top: 16px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  box-sizing: border-box;
  padding: 16px;
  color: #212529;
  display: flex;
  flex-direction: column;
}

.pd-login-frame .pd-login-input {
  margin-bottom: 8px;
}

.pd-login-frame .pd-login-input.error {
  border-color: #dc3545;
}

.pd-login-frame .pd-login-input-label {
  margin-bottom: 4px;
  font-size: 14px;
}

.pd-login-frame .pd-login-btn {
  margin-top: 8px;
  height: 38px;
}
/* Login frame styles end */

/* TopBar styles start */
.pd-top-bar {
  width: 100%;
  display: flex;
  margin-bottom: 0.75rem;
  justify-content: space-between;
  box-sizing: border-box;
  flex-shrink: 0;
}

.pd-top-bar .pd-top-bar-mode-switcher {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  box-sizing: border-box;
  font-size: 14px;
}

.pd-top-bar .pd-top-bar-mode-switcher .pd-top-bar-btn {
  border: none;
}

.pd-top-bar .pd-top-bar-mode-switcher .pd-top-bar-btn.active {
  background-color: #0d6efd;
  color: #fff;
}

.pd-top-bar .pd-top-bar-mode-switcher .pd-top-bar-btn.disabled {
  background-color: #e9ecef;
  color: #212529;
  cursor: not-allowed;
  pointer-events: none;
}

.pd-top-bar .pd-top-bar-mode-switcher .pd-top-bar-btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pd-top-bar .pd-top-bar-mode-switcher .pd-top-bar-btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pd-top-bar .pd-top-bar-mode-switcher .pd-top-bar-btn:nth-child(2) {
  padding: 6px 10px;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-radius: 0;
}

.pd-top-bar .pd-top-bar-tool-icons {
  height: 30px;
  line-height: 28px;
  box-sizing: border-box;
  padding: 0 8px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

.pd-top-bar .pd-top-bar-tool-icons i.bi {
  margin-right: 16px;
  font-size: 16px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.pd-top-bar .pd-top-bar-tool-icons i.bi::before {
  line-height: unset;
}

.pd-top-bar .pd-top-bar-tool-icons i.bi:hover {
  color: #0d6efd;
}

.pd-top-bar .pd-top-bar-tool-icons i.bi:last-child {
  margin-right: 0;
}
/* TopBar styles end */

/* Editor styles start */
.pd-editor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 1;
}

.pd-editor .pd-edit-view,
.pd-editor .pd-read-view {
  height: calc(
    100vh - 0.75rem * 3 - 30px
  ); /* Exact height to prevent flex height expansion */
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  box-sizing: border-box;
  color: #212529;
  overflow: auto;
  flex-shrink: 0;
  flex-basis: 0;
  flex-grow: 1;
}

.pd-editor .pd-edit-view textarea {
  border: none;
}

.pd-editor .pd-edit-view textarea::-webkit-scrollbar,
.pd-editor .pd-read-view::-webkit-scrollbar {
  width: 8px;
}

.pd-editor .pd-edit-view textarea::-webkit-scrollbar-track,
.pd-editor .pd-read-view::-webkit-scrollbar-track {
  background-color: transparent;
}

.pd-editor .pd-edit-view textarea::-webkit-scrollbar-thumb,
.pd-editor .pd-read-view::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 8px;
}

.pd-editor .pd-edit-view textarea::-webkit-scrollbar-thumb:hover,
.pd-editor .pd-read-view::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.pd-editor .pd-read-view {
  padding: 0.375rem;
}

.pd-editor.pd-mode-both .pd-edit-view {
  margin-right: 0.375rem;
}

.pd-editor.pd-mode-both .pd-read-view {
  margin-left: 0.375rem;
}

.pd-editor.pd-mode-edit .pd-read-view {
  display: none;
}

.pd-editor.pd-mode-read .pd-edit-view {
  display: none;
}
/* Editor styles end */
